body {
    font-family: sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hidden {
  display: none;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.desktop-header nav {
    display: flex;
    gap: 2rem;
}

header img {
    height: 48px;
    width: 48px;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* FOOTER */
footer.desktop-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-top: 1px solid #ccc;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer.desktop-footer img {
  height: 24px;
  width: 24px;
}

footer.mobile-footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
  z-index: 100;
}

footer.mobile-footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.nav-item {
  color: #000000;
  text-decoration: none;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
  filter: grayscale(100%) brightness(150%);
}

.nav-item.active {
  color: #1ea554;
}

.nav-item.active img {
  filter: none;
}

/* Pour smaartphone et tablette */
@media (max-width: 810px) {
  footer.desktop-footer {
    display: none;
  }
  footer.mobile-footer {
    display: block;
    padding-bottom: 1rem;
  }
  .desktop-header {
    display: none;
  }
  header {
    justify-content: center;
  } 
}

button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: #04AA6D;
    color: #ffffff;
}

.select-button {
    display: flex;
    background: #d9d9d1b5;
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.select-button button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #4a5568;
    cursor: pointer;
    transition: background 0.2s;
}

.select-button button.active {
    background: white;
    border-radius: 1rem;
    color: #1a202c;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-color: #bfe2ff; 
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bold;
  padding: 12px 40px 12px 16px;
  border: none;
  border-radius: 1rem;
  cursor: pointer;

  background-image: url("https://hugobertin.github.io/GanaKata/assets/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
