body {
    font-family: sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}

header img {
    height: 48px;
    width: 48px;
}
header h1 {
    margin: 0;
    font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.footer-content img {
    height: 24px;
    width: 24px;
}

button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
    background-color: #04AA6D;
    color: #ffffff;
}

.select-button {
    display: flex;
    background: #f1f3f5;
    border-radius: 1rem;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.select-button button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: #4a5568;
    cursor: pointer;
    transition: background 0.2s;
}

.select-button button.active {
    background: white;
    border-radius: 1rem;
    color: #1a202c;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
